.drop_wrap {
    position: relative;
    width: 100%;

    .square {
        width: 100%;
        background-color: pink;
        position: absolute;
        overflow: hidden;
        transition: 400ms;
        z-index: 999;
    }


}