.modal {
    background-color: #fff;
    border-radius: 12px;
    width: 70vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    .modal-header {
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    .modal-content {
        min-height: 200px;
    }

    .modal-footer {
        display: flex;
        height: 60px;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #ccc;
        position: relative;

        .modal-footer__btn {
            width: 50%;
            text-align: center;
        }

        .modal-footer__divider {
            position: absolute;
            width: 3px;
            height: calc(100% - 2px);
            top: 2px;
            left: 50%;
            background-color: #ccc;
            transform: translateX(-50%);
        }
    }
}

.modal-mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
}