.check_wrap {
    width: 100%;
    background-color: rgb(197, 197, 197);

    .check_item {
        display: flex;
        justify-content: space-around;

        .iconfont {
            font-size: 32px;
        }

        .right {}

        .left {}
    }

}