@import '../../../common/mixins/index.scss';

.video_sp_wrap {

    .video-wrap {
        width: 100vw;
        height: 100vh;
        position: relative;
        background-color: #000;
        /* border: 1px dashed red; */
    }

    .title {
        position: absolute;
        z-index: 99;
        bottom: 150px;
        left: 20px;
        width: 65%;
        color: #fff !important;

        .name {
            font-size: 36px;
        }

        .content {
            margin-top: 10px;
            width: 100%;
            height: 130px;
            font-size: 30px;
            display: flex;
            align-items: center;
            // color: #fff;
            @include line(3)
        }
    }

    @keyframes guodu {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .progress {
        animation: guodu 300ms;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    .video {
        width: 100%;
        height: 96%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 1;
    }

    .handle_box {
        position: absolute;
        z-index: 100;
        right: 30px;
        bottom: 200px;

        .item {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .text {
                margin-top: 10px;
                color: #fff;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }


    .swiper {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: 0;
    }

}