.product-shared {
    position: relative;
    background: #fff;
    box-sizing: border-box;
}

.shared-content {
    height: calc(100vh - 200px);
    background: rgba($color: #f4f3f3, $alpha: .8);
    box-sizing: border-box;
    overflow-y: scroll;

    //   overflow: hidden;

    .shared-canvas {
        // margin-bottom: 170px;
        width: 100%;
        height: 103.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: scroll;
    }
}

.save-imgW {
    position: fixed;
    background-color: #3DCA20;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 56px;
    left: 86px;
    right: 0;
    z-index: 999;
}

.save-imgD {
    position: fixed;
    background-color: #F66666;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    z-index: 999;
}

.save-imgL {
    position: fixed;
    background-color: #32456C;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 56px;
    right: 86px;
    z-index: 999;
}


.shared-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    //   transform: translateY(50%);
    background: #fff;
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    box-sizing: border-box;
    z-index: 99;

    .action {
        flex: 1;
        color: rgba(16, 16, 16, 100);
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bg_wrap {
            width: 80px;
            height: 80px;
            background: #3DCA20;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 14px;
            margin-top: -4px;

            .save-img {
                background: url(https://resource.bigtree-goods.com/webpage/shared-wechat.png) no-repeat 0 0;
                background-size: cover;
            }
        }

        .bg_wrap1 {
            width: 80px;
            height: 80px;
            background: #F66666;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 14px;
            margin-top: -4px;

            .shared-friend {
                //   background: url(../../../../assets/image/shared-download.png) no-repeat 0 0;
                background-size: cover;
            }
        }

        .bg_wrap2 {
            width: 80px;
            height: 80px;
            background: #32456C;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 14px;
            margin-top: -4px;

            .copy-link {
                background: url(https://resource.bigtree-goods.com/webpage/shared-link.png) no-repeat 0 0;
                background-size: cover;
            }
        }
    }

    .save-img-btn {
        padding: 0;
        background: none;
        line-height: normal;

        &::after {
            display: none;
        }
    }

    .action-bg {
        width: 80px;
        height: 80px;
        border-radius: 50%;

        background: #f4f3f3;
    }
}