$cF8: #F8AF18;
$btnWidth:200px;

.signature {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .canvas-box {
        width: 100%;
        margin-bottom: 30Px;
        display: flex;
        justify-content: center;
        align-items: center;

        .canvas {
            border: 1px solid #ccc;
        }
    }

    .buttons {
        width: $btnWidth;
        margin-bottom: 20px;
        margin-top: 20px;
        transform: rotateZ(90deg);

        Button {
            width: $btnWidth;
            height: 70px;
            line-height: 70px;
            margin: 0;
            text-align: center;
            border: 1px solid $cF8;
            font-size: 30px;
        }

        .confirm {
            color: #fff;
            background: $cF8;
            margin-bottom: 10px;
        }

        .cancel {
            color: $cF8;
            background: #fff;
        }

    }
}


.word-break {
    word-break: break-all;
}