.movie_wrap {
    image {
        width: 80px;
        height: 80px;
    }

    .move_square {
        width: 100%;
        height: 800px;
        background-color: rgb(236, 236, 236);
        overflow: hidden;

        .move_view {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .row_item {
                display: flex;
                justify-content: space-between;
                padding: 0 100px;
            }

            .col_item {
                // height: 100%;
                margin: 4px;

                .img_wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}