.modal {
    background-color: #fff;
    border-radius: 24px;
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 400ms;
    transform: translate(-50%, -50%);
    z-index: 999;
    animation: ans 1600ms;

    .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 56px 30px;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 0;
        font-style: 38px;
    }

    .modal-content {
        color: #444;
        text-align: center;
        padding: 60px 30px;
        padding-top: 30px;
        max-height: 600px;
        overflow-y: scroll;
    }

    .modal-footer {
        display: flex;
        height: 100px;
        justify-content: space-around;
        align-items: center;
        border-top: 2px solid rgb(243, 243, 243);
        position: relative;

        .modal-footer__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
        }

        .cancel {
            color: #000;
        }

        .confirm {
            color: rgb(20, 72, 168)
        }

        .modal-footer__divider {
            position: absolute;
            width: 3px;
            height: calc(100% - 2px);
            top: 2px;
            left: 50%;
            background-color: rgb(243, 243, 243);
            transform: translateX(-50%);
        }
    }

    @keyframes ans {
        0% {
            opacity: .0;
        }

        100% {
            opacity: 1;
        }
    }
}