.history_search_wrap {

    .hot_box {
        .hot_title {
            display: flex;
            justify-content: space-between;
        }

        .hot_list {
            display: flex;
            flex-wrap: wrap;

            .item {}
        }
    }

    .history_box {
        .history_title {
            display: flex;
            justify-content: space-between;
        }

        .iconfont {
            font-size: 32px;
        }

        .history_list {
            display: flex;
            flex-wrap: wrap;

            .item {}
        }
    }
}